// $colorVegStore: "#6BA363"; //dark//#4b6947
// $colorVegetarian: "#9C4EA1"; //dark//#6f3271
// $colorVegOptions: "#E17878"; //dark//#8b3838
// $colorBB: "#4498B1"; //dark//#1e5479
// $colorCatering: "#3FBBAF"; //dark//#1d787d
// $colorCoffeeTea: "#CC8F3E"; //dark//#925519
// $colorDelivery: "#8DB863"; //dark//#466829
// $colorFarmersMarket: "#D3674F"; //dark//#733b20
// $colorFoodTruck: "#C082F6"; //dark//#67419e
// $colorHealthStore: "#DCC253"; //dark//#977424
// $colorIceCream: "#F16594"; //dark//#9f3347
// $colorJuiceBar: "#FBBC64"; //dark//#af6d2c
// $colorMarketVendor: "#525CA8"; //dark//#1a3467
// $colorOrganization: "#A1579C"; //dark//#642456
// $colorOther: "#608AC5"; //dark//#1d4174
// $colorProfessional: "#35805C"; //dark//#124f39
// $colorSpa: "#6BCCDC"; //dark//#3e829d
// $colorVeganOnly: "#43A047"; //dark//#1d6831
// $colorBakery: "#AC8951"; //dark//#69552e
//
